<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Toboolist</title>
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@400;700&family=Yantramanav:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- HEADER -->
    <header>
      <div class="logo-container">
        <img class="logo" src="./img/Logo.png" alt="Boolean logo" />
        <h1 class="logo-text">Toboolist</h1>
      </div>
    </header>
    <!-- /HEADER -->

    <!-- CORPO PRINCIPALE DELLA PAGINA -->
    <main>
      <div id="app" v-cloak>
        <!-- SEZIONE CON BOTTONI -->
        <div class="buttons-section">
          <input
            v-model="newTask"
            @keyup.enter="addTask"
            type="text"
            id="add-task"
            placeholder="Write down here your task to add"
          />
          <label for="add-task"> </label>
          <button @click="addTask" class="task">Add Task</button>
          <button class="section">Add Section</button>
        </div>
        <!-- /SEZIONE CON BOTTONI -->

        <!-- SEZIONE CON LISTA -->
        <div class="list-container">
          <div class="task-container">
            <ul class="list-point-name">
              <li class="topic">New Task</li>
              <li v-for="(todo, index) in lists" :key="`todo-${index}`">
                <span
                  @click="toggleTask()"
                  :class="{'crossed-out-text': todo.done}"
                  >{{todo.text}}</span
                >
                <button @click="removeTask(index)" class="remove-task">
                  X
                </button>
              </li>
            </ul>
          </div>

          <!-- /SEZIONE CON LISTA -->
        </div>
      </div>
    </main>
    <!-- /CORPO PRINCIPALE DELLA PAGINA -->

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="text/javascript" src="./javascript/main.js"></script>
  </body>
</html>
